<li class="result">
	<img class="result-image"
			src="{{ data.image }}"
			alt="{{ data.full_name }}">

	<div class="result-info">
		<div class="result-name">{{ data.name }} <span class="result-year">({{ data.year }})</span></div>
		<div class="result-issues">{{ data.number_issues }} issue{{ data.number_issues > 1 ? 's' : '' }}</div>
		<div class="result-publisher">{{ data.publisher_name }}</div>
	</div>

	<div class="result-badges">
		<div class="result-{{ data.added ? 'added' : 'add' }}"></div>
	</div>
</li>