{% block details %}

	{% set name = item.getFullName() %}
	{% set button = false %}

	<div class="title">
		<a href="{{ path('app_item', {id:item.id}) }}">
			<h3>{{ item.getCollectionName() }}</h3>
			<h4 title="{{ item.title }}">{{ item.title }}</h4>
		</a>

		{% if button %}
			{#            <a href="{{ path('app_issue_read', { 'id': item.getNextToreadissue().id }) }}" class="btn-read">✔READ</a> #}
			<a href="#" class="btn-read" {{ stimulus_action('item', 'read') }} data-item-id="{{ item.id }}">✔</a>
		{% endif %}

	</div>

	{% if display is not same as 'PROGRESS' %}

		{# list of issues (always 3 in line, next 2nd if started, else 1st #}
		{{ include('item/elements/issues_list.html.twig', {display:display|default('ITEM'), item:item}) }}

		{# item info #}
		<span class="remaining"
				data-read="{{ item.getNumberOfIssuesRead() }}"
				data-total="{{ item.getNumberIssues() }}">{{ item.getRemainingIssuesToString(0) }}</span>

		<div class="item-release-date">{{ item.getReleaseDate() ? item.getReleaseDate()|date("d/m/Y") : '-' }}</div>

		<div class="item-type">{{ item.getCollectionTypeName() }}</div>
	{% endif %}

{% endblock %}