{% block issuesList %}

	{#    {{ dump(item.getNextToReadIssues()) }} #}

	<ul class="item-issues">
		{% for issue in item.getNextToReadIssues() %}

			<li class="item-issue {{ issue.isRead() ? 'read' : '' }}">
				<div class="item-issue-number">{{ issue.getPosition() }}</div>
				<div class="item-issue-name">
					<span class="item-issue-fullname">{{ issue.getIssueName() }}</span>
					<span class="item-issue-title">{{ issue.getName() }}</span>
				</div>
				<div class="item-issue-read">
					<i class="fa fa-circle-check"></i>
				</div>
			</li>

		{% endfor %}
	</ul>

{% endblock %}