<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
		<title>{% block title %}Welcome!{% endblock %}</title>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body>

		<nav class="top">
			<ul>
				<li><a href="{{ path('home') }}">Home</a></li>
				{#        <li><a href="{{ path('about') }}">About</a></li> #}
				{#        <li><a href="{{ path('contact') }}">Contact</a></li> #}
			</ul>
		</nav>

		<main>
			{% block searchbar %}{% endblock %}
			<div class="main">
				{% block body %}{% endblock %}
			</div>
		</main>

		<nav class="bottom">
			<ul class="nav-items">
				<li>
					<a href="{{ path('home') }}" title="Home">
						<i class="fa fa-home"></i>
					</a>
				</li>
				<li>
					<a href="#" title="Comics">
						<i class="fa fa-list"></i>
					</a>
				</li>
				<li>
					<a href="#" title="Collections">
						<i class="fa fa-book"></i>
					</a>
				</li>
				<li>
					<a href="#" title="Search" id="nav-search">
						<i class="fa fa-magnifying-glass"></i>
					</a>
				</li>
				{#        <li><a href="{{ path('about') }}">About</a></li> #}
				{#        <li><a href="{{ path('contact') }}">Contact</a></li> #}
			</ul>
		</nav>
	</body>
</html>
