{% extends 'base.html.twig' %}

{% block title %}VolumeController!{% endblock %}

{% block body %}

	{# info #}
	<h1>{{ volume.name }} ({{ volume.id }})</h1>
	<img src="{{ volume.image }}" alt="{{ volume.name }}" style="height:100px;"/>
	<a href="{{ path('app_volume_update', { 'idc': volume.idc }) }}" target="_blank">UPDATE</a>
	<ul>
		<li>{{ volume.id }}</li>
		<li>{{ volume.name }}</li>
		<li>{{ volume.description }}</li>
	</ul>

	{# next to read #}
	{% if volume.getNextToreadissue() == null %}

		{#  nothing #}

		<h2>Up to date</h2>

	{% else %}

		<h2>Next to read</h2>
		<div {{ stimulus_controller('volume') }}>
			{% include 'volume/volume.html.twig' with {volume:volume, display: 'PROGRESS'} %}
		</div>

	{% endif %}

	<h2>Publisher</h2>
	<ul>
		<li>{{ publisher.id }}</li>
		<li>{{ publisher.name }}</li>
		<img src="{{ publisher.image }}" alt="{{ publisher.name }}" style="height:50px;"/>
	</ul>

	<h2>Items</h2>
	{% for item in items %}
		<ul>
			<li>
				<img src="../images/items/{{ item.image }}" alt="{{ item.title }}" style="height:50px;" loading="lazy"/>
			</li>
			<li>{{ item.id }}</li>
			<li>{{ item.itemCollection.name }}</li>
			<li>{{ item.number ? ("TOME " ~  item.number) : '' }}</li>
			<li>{{ item.title }}</li>
		</ul>
	{% endfor %}


	<h2>Issues</h2>
	{% for issue in issues %}
		<ul>
			<li><img src="{{ issue.image }}" alt="{{ issue.name }}" style="height:50px;" loading="lazy"/></li>
			<li>{{ issue.id }}</li>
			<li>{{ issue.name }}</li>
			{#            <li>{{ issue.description }}</li> #}
			<li>{{ issue.read ? 'IS READ' : '-' }}</li>
			<li><a href="{{ path('app_issue_read', { 'id': issue.id }) }}">✔️</a></li>
			<li><a href="{{ path('app_issue_unread', { 'id': issue.id }) }}">❌</a></li>
		</ul>
	{% endfor %}
	{#    volume #}
	{#    publisher #}
	{#    issues #}
	{#    items #}
{% endblock %}
