{% extends 'base.html.twig' %}

{% block title %}VolumeController!{% endblock %}

{% block body %}

	{# todo : Info #}
	<h1>{{ volume.name }} ({{ volume.id }})</h1>
	<img src="{{ volume.image }}" alt="{{ volume.name }}" style="height:100px;"/>
	<a href="{{ path('app_volume_update', { 'idc': volume.idc }) }}" target="_blank">UPDATE</a>
	<ul>
		<li>{{ volume.id }}</li>
		<li>{{ volume.name }}</li>
		<li>{{ volume.description }}</li>
	</ul>

	{# Next to read #}
	{% include 'volume/sections/next_to_read.html.twig' with {volume:volume} %}

	{# todo : Publisher #}
	{% include 'volume/sections/publisher.html.twig' with {publisher:publisher, section: {id:'volume-publisher'}} %}

	{# todo : Items #}
	{% include 'volume/sections/items.html.twig' with {items:items, from: 'volume'} %}

	{# Issues #}
	{% include 'issue/issues.html.twig' with {issues:issues, from: 'volume', display: 'VOLUME'} %}

{% endblock %}
