{# {{ display=  }} #}
{# {% set displat %} #}

{% if wrap|default(true) %}

<div class="volume"
		data-id="{{ volume.id }}"

		{% if volume.getNextToreadissue() != null %}
			data-issue-id="{{ volume.getNextToreadissue().id }}"
			data-issue-number="{{ volume.getNextToreadissue().number }}"
		{% endif %}

		{% if controllers is defined %}
			{% for controller in controllers %}
				{{ stimulus_controller(controller.name) }}
			{% endfor %}
		{% endif %}


		{{ stimulus_target('volume', 'element') }}>

	{% endif %}

	<div class="volume-img">

		<a href="{{ path('app_volume', {id:volume.id}) }}">
			{{ include('volume/elements/image.html.twig', {display:display|default('VOLUME'),volume:volume}) }}
		</a>

		<div class="progress">
			<div class="progress-bar progress-bar-success {{ volume.isDone() ? 'complete': 'uncomplete' }}" role="progressbar" aria-valuenow="{{ volume.getProgress() }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ volume.getProgress() }}%">
				{{ volume.getProgress() }}%
			</div>
		</div>
	</div>

	<div class="volume-details">
		{{ include('volume/elements/details.html.twig', {display:display|default('VOLUME'),volume:volume}) }}
	</div>
	{#    {{ dump((volume)) }} #}

	{% if wrap|default(true) %}
</div>
{% endif %}